/*=====================================
Barra superior
=====================================*/

.pagetop {
	text-align: center;

	background-color: #e6f2ff;
	border-style: solid;
	border-radius: 10px;
	border-width: 3px;
	border-color: #0080ff;
}

h1 {
	font-family: "Arial", "Verdana", sans;
	font-size: 4em;
	font-weight: 1000; /*Parece ser el máximo*/
}

.logotipo {
	padding: 8px;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
	box-sizing: border-box;
}

.logoimg {
	float: left;
	height: 150px;
	width: 150px;
	filter:drop-shadow(8px 8px 10px gray);
}

/*=====================================
Barra navegación
=====================================*/

ul.navbar {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #d9dff2;
	border-radius: 0px 0px 5px 5px;
}

ul.navbar li {
	display: inline; /*Para que los elementos se muestren en una sola línea*/
	float: left;
	width: 200px;
	border-radius: 0px;
    cursor: pointer; /*Cambia el estilo del puntero al ponerlo encima*/
}

li a.navbar {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

ul.navbar > li:first-child {
	margin-left: 8px;
}

.navbar li a:hover {
	background-color: #415ebe;
	color: white;
	border-radius: 0px;
}

/*=====================================
Barra navegación - Subniveles
=====================================*/

/*Elementos del submenu*/
ul.navbar ul > li {
	background-color: #d9dff2;
	float: none;
	width: 200px;
}

/*Los submenus en si*/
ul.navbar ul {
	list-style-type: none;
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: #d9dff2;
	width: 200px;
	z-index: 1; /*Para que se muestre por enicma de todo (excepto los comentarios)*/
}

/*Elementos del submenu al pasar el raton para desplegarlos*/
ul.navbar li:hover ul {
	display: block;
}

/*=====================================
Barra navegación - Botones
=====================================*/

.button {
	float: right;
	background-color: #d9dff2;
	border: none;
	padding: 4px 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
}

.login {
	color: black;
	border: 2px solid #415ebe;
}

/*=====================================
Barra lateral (22% anchura, 20 + 1/margen)
=====================================*/

aside {
	width: 20%;
	float: left;
	box-sizing: border-box; /*Incluye a PADDING y BORDER (pero no MARGIN) en el tamaño, para que salgan bien las cajas*/

	background-color: #e6f2ff;
	border-style: solid;
	border-radius: 5px;
	border-width: 0px;
	border-left-width: 5px;
	border-left-color: #0080ff;
	padding: 10px;
	margin: 1%;
}

aside ul {
	list-style-type: none;
}

/*=====================================
Contenido central (78% anchura, 76 + 1/margen)
=====================================*/

.principal {
	width: 76%;
	float: left;
	box-sizing: border-box;

	background-color: #e6f2ff;
	border-style: solid;
	border-radius: 5px;
	border-width: 3px;
	border-color: #0080ff;
	padding: 10px;
	margin: 1%;
}

.principal a:link, .principal a:visited{
	color: black;
	text-decoration: none;
}

.infobox {
	text-align: center;
}

.infoimg{
	max-height: 150px;
	max-width: 150px;
	filter:drop-shadow(8px 8px 10px gray);
}

.video{
	width: 320px;
	height: 180px;
	filter:drop-shadow(8px 8px 10px gray);
}

.imageevento {
	float: right;
	text-align: center;
}

h2 {
	font-family: "Arial", "Verdana", sans;
	font-size: 3em;
	font-weight: 800;
	text-align: center;
}


/*=====================================
Barra inferior
=====================================*/

footer {
	text-align: center;
	vertical-align: middle;
	background-color: #e6f2ff;
	border-style: solid;
	border-radius: 10px;
	border-width: 3px;
	border-color: #0080ff;
	padding: 8px;

	overflow: auto; /*Para que no se desborden los enlaces*/
}

.links {
	padding-right: 48px;
	text-align: right;
}

.links img {
	height: 35px;
	width: 35px;
	cursor: pointer;
}

.copyright {
	font-weight: bold;
	text-align: left;
	padding-left: 30px;
}

address {
	display: inline-block; /*Para que los enlaces se muestren en la misma linea*/
}


/*=====================================
Caja de comentarios
=====================================*/

.commentbutton {
	position: fixed;
	z-index: 3; /*Para que se muestre por enicma de todo*/
	right: 0;
	bottom: 5%;
	padding: 8px;
	border-radius: 10px 0px 0px 10px;
	background-color: #FFEBCD;
    cursor: pointer; /*Cambia el estilo del puntero al ponerlo encima*/
}

.commentbutton img {
	height: 32px;
	filter:drop-shadow(1px 1px 4px gray);
}

.commentpanel {
	position: fixed;
	z-index: 2;
	right: 0;
	top: 2.5%;
	height: 95%;
	width: 30%;

	box-sizing: border-box;
	border-radius: 10px 0px 0px 10px;

	background-color: #FFEBCD;
	filter:drop-shadow(-8px 0px 8px gray);
	display: none; /*Hace desaparecer a un elemento, tal que ni se reserve espacio para el*/

	font-size: 0.85em;
}

.comments {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 5%;
	max-height: 45%;
	overflow: auto;
}

.comment {
	width: 100%;
	word-wrap: break-word;
	box-sizing: border-box;

	border-radius: 10px;
	padding: 8px;
	margin-bottom: 8px;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}

form {
	position: absolute;
	left: 5%;
	right: 5%;
	bottom: 5%;
	max-height: 45%;
	overflow: auto;
}

textarea {
	rows: 4;
	resize: none;
	border: 1px solid #c0c0c0;
}

input, textarea{
	width: 100%;
	padding: 12px 10px;
	margin: 8px 0;
	display: inline-block;
	border-radius: 4px;
	box-sizing: border-box;
	font: inherit;
}

input[type=text], select {
	border: 1px solid #c0c0c0;
}

input[type=submit] {
	background-color: #415ebe;
	color: white;
	padding: 14px 10px;
	border: none;
	cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0080ff;
}

/*=====================================
Identificacion
=====================================*/


/*=====================================
Misc
=====================================*/

body {
	background-image: url("../imgs/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Arial", "Verdana";
	font-size: 0.9em;
}

.bold {
	font-weight: bold;
}

.cleared {
	clear: both; /*No permite que hayan elementos flotando (float) en ningun lado*/
}

.box {
	box-sizing: border-box; /*Incluye a PADDING y BORDER (pero no MARGIN) en el tamaño, para que salgan bien las cajas*/
	margin: auto; /*Necesario para que Flex funcione*/
	float: left;
	width: 33.33%; /*Tres cajas por linea*/
}

.flex {
	display: flex; /*Para que las cajas sean iguales de altas. Incompatible con IE10 y anteriores*/
}

.big {
	font-size: 2em;
	font-weight: bold;
}

.bigger {
	font-size: 4em;
	font-weight: 1000;
}

.pad {
	padding: 32px;
}

.errorimg {
	 width: 40%;
	 float: none;
}
