/*=====================================
Barra superior
=====================================*/

.pagetop {
	text-align: center;

	background-color: #e6f2ff;
	border-style: solid;
	border-radius: 10px;
	border-width: 3px;
	border-color: #0080ff;
}

h1 {
	font-family: "Arial", "Verdana", sans;
	font-size: 4em;
	font-weight: 1000; /*Parece ser el máximo*/
}

.logotipo {
	width: 100%;
	padding: 8px;
	text-align: center;
	vertical-align: center;
	overflow: hidden;
	box-sizing: border-box;
}

.logoimg {
	float: left;
	height: 150px;
	width: 150px;
}

/*=====================================
Barra navegación
=====================================*/

ul.navbar {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #d9dff2;
	border-radius: 0px 0px 5px 5px;
}

ul.navbar li {
	display: inline;
	float: left;
	width: 200px;
	border-radius: 0px;
}

li a.navbar {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

.navbar li:first-child {
	margin-left: 8px;
}

.navbar li a:hover {
	background-color: #415ebe;
	color: white;
}

/*=====================================
Barra lateral (22% anchura, 20 + 1/margen)
=====================================*/

aside {
	width: 20%;
	height: 400px;
	float: left;
	box-sizing: border-box; /*Incluye a PADDING y BORDER (pero no MARGIN) en el tamaño*/

	background-color: #e6f2ff;
	border-style: solid;
	border-radius: 5px;
	border-width: 0px;
	border-left-width: 5px;
	border-left-color: #0080ff;
	padding: 10px;
	margin: 1%;
}

/*=====================================
Contenido central (78% anchura, 76 + 1/margen)
=====================================*/

.principal {
	width: 76%;
	float: left;
	box-sizing: border-box;

	background-color: #e6f2ff;
	border-style: solid;
	border-radius: 5px;
	border-width: 3px;
	border-color: #0080ff;
	padding: 10px;
	margin: 1%;
}

/*=====================================
Barra inferior
=====================================*/
.pagebottom {
	text-align: center;
	background-color: #e6f2ff;
	border-style: solid;
	border-radius: 10px;
	border-width: 3px;
	border-color: #0080ff;

	clear: both; /*No permite que hayan elementos flotando (float) en ningun lado*/
}

/*=====================================
Misc
=====================================*/

body {
	background-image: url("imgs/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
