<div class="pagetop">
	<div class="logotipo">
		<img class="logoimg" src="./imgs/placeholder.png" onclick="misOjos(true)"/>
		<h1>Estrenos favoritos</h1>
	</div>
	<ul class="navbar">
		{% block tipo_cabecera %}
			{% for nombre, id_o_submenu in listado_menu %}
				{% if id_o_submenu is iterable %} {# Mira si es una URL(false) o un submenu(true) #}
					<li><a class="navbar">{{ nombre }}</a>
						<ul>
							{% for nombre, id in id_o_submenu %}
					            <li><a class="navbar" href="{{id}}">{{ nombre }}</a></li>
					        {% endfor %}
						</ul>
					</li>
				{% else %}
					<li><a class="navbar" href="{{id_o_submenu}}">{{ nombre }}</a></li>
				{% endif %}
			{% endfor %}
		{% endblock %}
		{% if nombre_usuario is defined and nombre_usuario is not null %}
			<a href=".?logout">
				<button class="button login">{{nombre_usuario}}: Log out</button>
			</a>
		{% else %}
			<a href=".?registrarse">
				<button class="button">Sign Up</button>
			</a>
			<a href=".?identificarse">
				<button class="button login">Log In</button>
			</a>
		{% endif %}
	</ul>
</div>
