<div class="pagetop">
	<div class="logotipo">
		<img class="logoimg" src="./imgs/placeholder.png"/>
		<h1>Estrenos favoritos</h1>
	</div>
	<ul class="navbar">
		{% block tipo_cabecera %}
		<li><a class="navbar" href="/">Pagina principal</a></li>
		<li><a class="navbar">Géneros</a>
			<ul>
				{% for id, nombre in listado_menu %}
		            <li><a class="navbar" href="/?genero={{id}}">{{ nombre }}</a></li>
		        {% endfor %}
			</ul>
		</li>
		<li><a class="navbar">Otras páginas</a></li>
		{% endblock %}
	</ul>
</div>
