{% for evento in lista %}
    <div class="listado" id="listado-{{ evento.eventoNombre }}">
        <span class="bold">Nombre: </span><a href="?evento={{ evento.idEvento }}">{{ evento.eventoNombre }}</a><br>
        <span class="bold">Estudios: </span>{{ evento.estudios }}<br>
        <span class="bold">Distribuidora: </span>{{ evento.distribuidora }}<br>
        <span class="bold">Estreno: </span>{{ evento.fechaEstreno }}<br>
        <span class="bold">Descripcion: </span>{{ evento.descripcion }}<br>
        <span class="bold">Fecha creacion: </span>{{ evento.fecha_creacion }}<br>
        <span class="bold">Fecha modificacion: </span>{{ evento.fecha_ultima_mod }}<br>
        <span class="bold">Generos: </span>
            {% for entry in evento.generos %}
                {% if loop.last %}
                 {{entry}}.
                {% else %}
                    {{entry}},
                {% endif %}
            {% endfor %}
        <br>
        {% if admin %}
            <a href="?evento={{ evento.idEvento }}&galeria">Enlace a la galería</a>
            <form method="post" action="">
                <input type="hidden" name="evento" value="{{ evento.idEvento }}">
                <button id="submit" type="submit">Borrar</button>
            </form>
            <a href="?modificar={{ evento.idEvento }}"><button id="submit" type="submit">Editar</button></a>
        {% endif %}
    </div>
{% endfor %}
