{% extends "plantillaGeneral.html" %}

{% block sidebar %}{% endblock %}

{% block evento %}

<div class="principal_alt">
    {% if success is defined %}{% if not success %}
        <div class="panel_red big">Error no se ha podido realizar la operacion</div>
    {% elseif success %}
        <div class="panel_green big">Se ha realizado la operacion con exito</div>
    {% endif %}{% endif %}
    {% if tipo_listado == "comentarios" %}
    <input type="text" id="myInput" onkeyup="buscarAJAX(false)" placeholder="Busqueda por comentario..." title="Escribe texto comentario">
    <div id="listado">
        {% include 'listadoComentarios.html' %}
    </div>
    {% elseif tipo_listado == "eventos" %}
    <input type="text" id="myInput" onkeyup="buscarAJAX(true)" placeholder="Busqueda por nombre..." title="Escribe título del evento">
        <a href="?aniadir"><button id="submit" type="submit">Añadir evento</button></a>
        <div id="listado">
            {% include 'listadoEventos.html' %}
        </div>
    {% elseif tipo_listado == "usuarios" %}
        {% for usuario in lista %}
            <div class="listado">
                <span class="bold">Nombre: </span>{{ usuario.nombre }}<br>
                <span class="bold">Usuario: </span>{{ usuario.idUsuario }}<br>
                <span class="bold">email: </span>{{ usuario.email }}<br>
                <span class="bold">Rol: </span>{{ usuario.idRol }}<br>
                <form method="post" action="">
                {% for idRol, nombreRol in rol %}
                    <label class="container" >{{ nombreRol }}
                        <input type="radio" name="usuarioIdRol" value="{{ idRol }}"
                        {% if idRol == usuario.idRol %}
                            checked
                        {% endif %}>
                        <span class="radiobutton"></span>
                    </label>
                {% endfor %}
                    <input type="hidden" name="idUsuarioRol" value="{{ usuario.idUsuario }}">
                    <button id="submit" type="submit">Cambiar rol</button>
                </form>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}

{% block footer  %}
    {% include 'footer.html' %}
{% endblock %}
