{% extends "plantillaGeneral.html" %}

{% block evento %}
<div class="principal">
    <form method="post" action="">
        <h2>Información de {{ usuario.idUsuario }}</h2>
        {% if success is defined %}{% if not success %}
            <div class="big">Error: Contraseña erronea</div>
        {% elseif success %}
            <div class="big">Se han cambiado los datos con éxito</div>
        {% endif %}{% endif %}

        <span class="bold">Nombre: </span>{{ usuario.nombre }}<br>
        <input type="text" name="UsuarioNombreCambiado" value="{{ usuario.nombre }}">
        <span class="bold">Email: </span>{{ usuario.email }}<br>
        <input type="text" name="UsuarioEmailCambiado" value="{{ usuario.email }}">
        <span class="bold">Rol: </span>{{ usuario.idRol }}<br><br>
        <button id="submit" type="submit">Cambiar datos</button>
    </form>
    <br>
    <form class="" action="" method="post">
        <label for="password">Contraseña antigua</label>

        <input type="password" name="password_ant" id="password_ant" value="Submit" placeholder=""</input>
        <label for="password">Contraseña nueva</label>

        <input type="password" name="password_nvo" id="password_nvo" value="Submit" placeholder=""></input>
        <button id="submit" type="submit">Cambiar contraseña</button>
    </form>
</div>
{% endblock %}

{% block footer  %}
    {% include 'footer.html' %}
{% endblock %}
