{% extends "plantillaEvento.html" %}

{% block evento %}
    <span class="principal">
        {% if success is defined %}{% if not success %}
            <div class="panel_red big">Error no se ha podido realizar la operacion</div>
        {% elseif success %}
            <div class="panel_green big">Se ha realizado la operacion con exito</div>
        {% endif %}{% endif %}

        {% for entry in imagenes %}
            <div class="box infobox">
                <img class="infoimg pad" src="{{ entry.url }}"/>
                <p>{{ entry.descripcion }}</p>
                <form method="post" action="">
                    <input type="hidden" name="idFotoBorrar" value="{{ entry.url }}">
                    <button type="submit">Borrar</button>
                </form>
            </div>
        {% endfor %}

        <div class="cleared">
            <!-- El tipo de codificación de datos, enctype, DEBE especificarse -->
            <form enctype="multipart/form-data" action="" method="POST">
                <!-- El nombre del elemento de entrada determina el nombre en el array $_FILES -->
                Subir foto: <input name="fichero_usuario" type="file" />
                <input type="text" name="idFotoDescripcion" placeholder="Describe la foto aqui..."/>
                <input type="submit" name="idFotoNueva" value="Subir foto" />
            </form>
        </div>
        {% block galeria %}
            <div class="bold cleared"><a href="./?evento={{evento.idEvento}}">(Volver a la página del evento)</a></div>
        {% endblock %}
    </span>
{% endblock %}

{% block comentarios %}{% endblock %}
