{% extends "plantillaGeneral.html" %}

{% block evento %}
<div class="principal">
    <form method="post" action="">
        <span class="bold">Nombre: </span>{{ usuario.nombre }}<br>
        <span class="bold">Usuario: </span>{{ usuario.idUsuario }}<br>
        <span class="bold">email: </span>{{ usuario.email }}<br>
        <span class="bold">Rol: </span>{{ usuario.idRol }}<br>
        {% if success is defined %}{% if not success %}
            <div class="big">Error: Contraseña erronea</div>
        {% elseif success %}
            <div class="big">Se ha cambiado la contraseña con éxito</div>
        {% endif %}{% endif %}
        <label for="password">Contraseña antigua</label>

        <input type="password" name="password_ant" id="password_ant" value="Submit" placeholder=""></input>
        <label for="password">Contraseña nueva</label>

        <input type="password" name="password_nvo" id="password_nvo" value="Submit" placeholder=""></input>
        <button id="submit" type="submit">Cambiar contraseña</button>
    </form>
</div>
{% endblock %}

{% block footer  %}
    {% include 'footer.html' %}
{% endblock %}
