<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{% block titulo %}Estrenos peliculas{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% block estilo %}./css/estilo.css{% endblock %}"/>
	<script type="text/javascript" src="./scripts/comentarios.js"></script>
	<script type="text/javascript" src="./scripts/botones.js"></script>
</head>

<body {% block onLoad %}onload="misOjos(false)"{% endblock %}>

	<!-- Cabecera -->

	{% block header %}
		{% include 'header.html' %}
	{% endblock %}

	<!-- Parte central y barra lateral -->
	<div class="flex">

    	{% block sidebar %}
			{% include 'sidebar.html' %}
		{% endblock %}


    	{% block evento %}{% endblock %}
	</div>

	<!-- Eliminación de elementos flotantes -->
	<div class="cleared"></div>


	{% block comentarios %}{% endblock %}

	<!-- Pie -->
	{% block footer %}{% endblock %}

</body>

</html>
