{% extends "plantillaEvento.html" %}

{% block titulo %}
    {{evento.eventoNombre}}
{% endblock %}

{% block header %}
    {% include 'headerHijo.html' %}
{% endblock %}

{% block estilo %}
        ./css/estilo_impresion.css
{% endblock %}

{% block imagenes %}
    <div class="cleared"></div>
        {% set imgmax = 1 %}
        {% set vidmax = 0 %}
        {{ parent() }}
        {% for entry in videos %}
            <p>{{ entry.url }}</p>
        {% endfor %}
{% endblock %}

{% block galeria %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block comentarios %}
{% endblock %}

{% block footer  %}
{% endblock %}
