{% extends "plantillaGeneral.html" %}

{% block sidebar %}{% endblock %}

{% block evento %}

<div class="principal_alt">
    <h2>{% block titulo %}{% endblock %}</h2>

    {% if success is defined %}{% if not success %}
        <div class="panel_red big">
            {% block mensajeError %}Error no se ha podido realizar la operacion
            {% endblock %}
        </div>
    {% elseif success %}
        <div class="panel_green big">
            {% block mensajeExito %}Se ha realizado la operacion con exito
            {% endblock %}
        </div>
    {% endif %}{% endif %}

    <form enctype="multipart/form-data" class="listado" method="post" action="">
        <span class="bold">Nombre: </span><br>
            <input type="text" name="eventoNombre" value="{{ evento.eventoNombre }}"><br>
        <span class="bold">Estudios: </span><br>
            <input type="text" name="estudios" value="{{ evento.estudios }}"><br>
        <span class="bold">Distribuidora: </span><br>
            <input type="text" name="distribuidora" value="{{ evento.distribuidora }}"><br>
        <span class="bold">Estreno: </span><br>
            <input type="date" name="fechaEstreno" value="{{ evento.fechaEstreno }}"><br>
        <span class="bold">Descripcion: </span><br>
            <textarea name="descripcion">{{ evento.descripcion }}</textarea><br>

        <input type="hidden" name="{% block modificar_aniadir %}{% endblock %}" value="{{ evento.idEvento }}">

        <div class="column_3">
        {% for genero, idGenero in generos %}
            <label class="container">{{ genero }}
                <input type="checkbox" name="genero_{{ idGenero }}"
                {% if genero in generos_existentes %}
                    checked
                {% endif %}>
                <span class="checkmark"></span>
            </label>
        {% endfor %}
        </div>
        <br>
        {% block FotoPortada %}{% endblock %}
        <button id="submit" type="submit">{% block boton %}{% endblock %}</button>
    </form>
</div>

{% endblock %}

{% block footer  %}
    {% include 'footer.html' %}
{% endblock %}
