{% extends "plantillaGeneral.html" %}

{% block titulo %}
    {{eventoNombre}}
{% endblock %}

{% block header  %}
    {{ parent() }}
{% endblock %}

{% block evento %}
    <span class="principal">
        <div class="box infobox">
            <a href="./evento.html">
                <img class="infoimg" src="./imgs/pikachu-inicio.jpg"/>
                <p>Detective Pikachu</p>
            </a>
        </div>
        <div class="box infobox">
            <img class="infoimg" src="./imgs/toy_story.jpg"/>
            <p>Toy Story 4</p>
        </div>
        <div class="box infobox">
            <img class="infoimg" src="./imgs/rey_leon.jpg"/>
            <p>El Rey León</p>
        </div>
        <div class="box infobox">
            <img class="infoimg" src="./imgs/aladdin-will-smith-genie.jpg"/>
            <p>Aladdin</p>
        </div>
        <div class="box infobox">
            <img class="infoimg" src="./imgs/vengadores.jpg"/>
            <p>Vengadores: Endgame</p>
        </div>
        <div class="box infobox">
            <img class="infoimg" src="./imgs/spiderman.jpg"/>
            <p>Spiderman: Far From Home</p>
        </div>
        <div class="box infobox">
            <img class="infoimg" src="./imgs/F&F.jpg"/>
            <p>Fast and Furious: Hobbs & Shaw</p>
        </div>
        <div class="box infobox">
            <img class="infoimg" src="./imgs/espia.jpg"/>
            <p>La espía roja</p>
        </div>
        <div class="box infobox">
            <img class="infoimg" src="./imgs/men_in_black.jpg"/>
            <p>Men In Black: International</p>
        </div>
    </span>
{% endblock %}

{% block footer  %}
    {% include 'footer.html' %}
{% endblock %}
