{% extends "plantillaGeneral.html" %}

{% block evento %}
<div class="principal">
    <form method="post" action="">
        <span class="bold">Nombre: </span>{{ usuario.nombre }}<br>
        <span class="bold">Usuario: </span>{{ usuario.idUsuario }}<br>
        <span class="bold">email: </span>{{ usuario.email }}<br>
        <span class="bold">Rol: </span>{{ usuario.idRol }}<br>
        <label for="password">Contraseña nueva</label>

        <input type="password" name="passworda" id="passworda" value="Submit" placeholder="Contraseña nueva"></input>
        <label for="password">Contraseña antigua</label>

        <input type="password" name="passwordd" id="passwordd" value="Submit" placeholder="Contraseña antigua"></input>
        <button id="submit" type="submit">Cambiar contraseña</button>
    </form>
</div>
{% endblock %}

{% block footer  %}
    {% include 'footer.html' %}
{% endblock %}
