{% extends "plantillaGeneral.html" %}

{% block evento %}
<form class="principal" action="" method="post">
    {% if fail %}
        <div class="big">Error: Email o nombre de usuario ya existente/invalido</div>
    {% endif %}
    <fieldset>

    <!-- Form Name -->
    <legend>REGISTRARSE</legend>

    <!-- Formulario Registro -->
    <div>
        <label for="nombreUsuario">Nombre usuario</label>
        <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de usuario"></input>

        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Email"></input>

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre"></input>

        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" placeholder="Contraseña"></input>
    </div>

    <!-- boton -->
     <button id="button" name="button">Registrarse</button>

    </fieldset>
</form>
{% endblock %}
