{% extends "plantillaGeneral.html" %}

{% set imgmax = 2 %}

{% block titulo %}
    {{eventoNombre}}
{% endblock %}

{% block evento %}
    <span class="principal">
        <span>
            <div class="imageevento">
                {% block imagenes %}
                    {% for entry in imagenes|slice(0,imgmax) %} {# Slice hace que solo se muestren los primeros n #}
                        <img class="infoimg" src="{{ entry.url }}"/>
                        <p>{{ entry.descripcion }}</p>
                    {% endfor %}
                {% endblock %}
            </div>
            <h2>{{ eventoNombre }}</h2>
            <div class="cuerpoevento">
                <ul>
                    <li>Genero: {{ genero }}</li>
                    <li>Estudios: {{ estudios }}</li>
                    <li>Distribuidora: {{ distribuidora }}</li>
                    <li>Fecha de estreno: {{ fechaEstreno }}</li>
                </ul>
                {{ descripcion }}

                <p>Evento subido en {{fecha_creacion}}</p>
                <p>Evento actualizado en {{fecha_ultima_mod}}</p>
            </div>
            {% block galeria %}
                <div class="bold"><a href="./?evento={{idEvento}}&galeria">(Galería)</a></div>
            {% endblock %}
        </span>
    </span>
{% endblock %}

{% block footer  %}
    {% include 'footerHijo.html' %}
{% endblock %}
