{% extends "plantillaGeneral.html" %}

{% block titulo %}
    {{eventoNombre}}
{% endblock %}

{% block evento %}
    <span class="principal">
        <span>
            <div class="imageevento">
                {% for entry in imagenes|slice(0,2) %} {# Slice hace que solo se muestren los primeros n #}
                    <img class="infoimg" src="{{ entry.url }}"/>
                    <p>{{ entry.descripcion }}</p>
                {% endfor %}
            </div>
            <h2>{{ eventoNombre }}</h2>
            <ul>
                <li>Genero: {{ genero }}</li>
                <li>Estudios: {{ estudios }}</li>
                <li>Distribuidora: {{ distribuidora }}</li>
                <li>Fecha de estreno: {{ fechaEstreno }}</li>
            </ul>
            {{ descripcion }}

            {% block galeria %}
                <div class="bold"><a href="./?evento={{idEvento}}&galeria">(Galería)</a></div>
            {% endblock %}
        </span>
    </span>
{% endblock %}

{% block footer  %}
    {% include 'footerHijo.html' %}
{% endblock %}
