{% extends "plantillaGeneral.html" %}

{% block evento %}
    <span class="principal">

        {% for entry in peliculas %}
        <div class="box infobox">
            <a href=".?evento={{ entry.idEvento }}">
                <img class="infoimg" src="./imgs/{{ entry.idEvento }}/portada.jpg"/>
                <p>{{ entry.eventoNombre }}</p>
            </a>
        </div>
        {% endfor %}

        {% if peliculas is empty %}
            <div class="bigger pad">No hay peliculas en este momento</div>

            <img class="errorimg pad" src="./imgs/sadGremlin.png"><img>
        {% endif %}

    </span>
{% endblock %}

{% block footer  %}
    {% include 'footer.html' %}
{% endblock %}
